*{
	box-sizing: border-box;
	overflow-y: hidden ;
}

body {
	font-size: 60%;
}

.navbarbg{
	background-color: rgb(90, 252, 184);
	font-weight: 600;
	font-size: 2rem;
	padding: .6rem;
}

section {
	width: 100%;
}

.section1 {
	background-color: #f7e7e7;
	height: 100vh;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.section1 button {
	margin: .4rem 2rem;
	width: 50%;
	border-radius: 5;
}

.section2 {
	background-color: #F5EDED;
	display: -webkit-box;
  display: -ms-flexbox;
	height: 100vh;
	width: 100%;
	display: flex;
	padding: 2rem 4rem;
}

.hide {
  display: none;
}

/* footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
footer .copyright {
	text-align: center;
	font-weight: 600;
	font-size: .8rem;
} */